*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}
nav{
    background-color: #fff;
    color: rgb(11, 14, 83);
    height: 44px;
    display: flex;
     justify-content: space-between;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav .left{
    margin: 3px;
    font-size: 24px;
    padding: 3px;
}
nav .right{
    margin: 3px;
    padding: 3px;
  font-size: 24px;  
}
nav .right button{
background-color: blue;
border: none;
font-size: 22px;
padding: 2px;
}
.img-can{
    height: 85vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.img-can img{
    height: 350px;
}
.center{
    position: absolute;
    top:60%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 500px;
    border-radius: 24px;
    border: 1px solid lightgray;
    
    /* background-color: aqua; */
    height: 50px;
    transform: translate(-50%,-50%);
    text-align: center;
}
.center input{
    border-radius: 24px;
    /* border: 2px solid black; */
    width: 100%;
    border: none;

    outline: none;
}
.center i{
    font-size: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    /* background-color: #f0e3e3; */
    background-color: #b9b5b5;
    display: flex;
    justify-content: space-between;
   height: 44px;
    font-size: 25px;

}
footer .left{
     margin: 3px;
    font-size: 24px;
    padding: 3px;
    color: rgb(46, 65, 82);
    display: flex;
    gap: 20px;
   }
footer .right{
    margin: 3px;
    padding: 3px;
  font-size: 24px; 
  color:rgb(46,65,82) ; 
  display: flex;
  gap: 20px;
}