*{
    padding:0px;
margin: 0px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
box-sizing: border-box;
}
nav{
    background-color: #1b1b1b;
    position: fixed;
    display: flex;
    z-index: 12;
    align-items: center;
    width: 100%;
    height: 78px;
    justify-content: space-between;
    padding: 0 15px;
    
}
nav .logo span{
    color: #fff;
    font-size: 28px;
    font-weight: 600;

}
nav ul{
    color: #fff;
    list-style: none;
    display: flex;
    gap: 15px;
}
nav ul li a{
    text-decoration: none;
    font-size: 19px;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    /* text-transform: uppercase; */
    font-weight: 400;

}
nav ul li a:hover{
    background-color: #fff;
    color: #000;

}
.image{
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.image::before{
    background-size: cover;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;

}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform:translate(-50%,-50%);
}
.center .data .title{
    font-size: 60px;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.center .data  .sub{
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    color: #fff;

}
.center .btn{
    text-align: center;
    margin: 9px 0px;

}
.center .btn button{
    margin: 0px 28px;
    padding: 10px 15px;
    background-color: #fff;
    color: #000;
    border: 1px solid#fff;
    font-size: 19px;
    font-weight: 600;
    border-radius: 13px;

}
.center .btn button:first-child:hover{
    background: none;
    color:#000
}
.center .btn button:last-child:hover{
    background: none;
    color: #fff;
}